<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="bg-dark">
      <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <h1 align="center">User Details</h1>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Profile Image</th>
                    <th>Course</th>
                    <th>Email</th>    
                    <th>Action</th>
                    <th><a href="logout" class="btn btn-primary">LogOut</a>
                    <a href="logoutall" class="btn btn-primary">LogOut All</a></th>
                  </tr>
                </thead>
                {{#each userdata}}
                  <tr>
                    <td><img src="img/{{this.Image}}" alt="" height="50px" width="50px"></td>
                    <td>{{this.Course}}</td>  
                    <td> {{this.Emailid}} </td>
                    <td><a
                        href="edituser?uid={{this._id}}"
                        class="btn btn-primary">Edit</a></td>

                        <td><a
                        href="deleteuser?uid={{this._id}}"
                        class="btn btn-danger">Delete</a>
                    </td>
                  </tr>            
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>